<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vegetable %>
    <%= form.text_field :vegetable, id: :meal_vegetable %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.text_field :protein, id: :meal_protein %>
  </div>

  <div class="field">
    <%= form.label :grain %>
    <%= form.text_field :grain, id: :meal_grain %>
  </div>

  <div class="field">
    <%= form.label :fruit %>
    <%= form.text_field :fruit, id: :meal_fruit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
